{"openapi":"3.1.0","info":{"title":"Snipe-IT v6 API","version":"6.1.2"},"servers":[{"url":"https://develop.snipeitapp.com/api/v1"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/hardware/{id}":{"get":{"summary":"/hardware/:id","description":"Get the details of a specific asset","operationId":"hardware-by-id","parameters":[{"name":"id","in":"path","description":"The id (not the asset tag) of the asset you'd like to query","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 1,\n  \"name\": \"\",\n  \"asset_tag\": \"1057931124\",\n  \"serial\": \"24da9270-5631-3d1c-84e4-8de6fd40d92d\",\n  \"model\": {\n    \"id\": 1,\n    \"name\": \"Macbook Pro 13&quot;\"\n  },\n  \"model_number\": \"2670166157847744\",\n  \"eol\": {\n    \"date\": \"2025-02-27\",\n    \"formatted\": \"Thu Feb 27, 2025\"\n  },\n  \"status_label\": {\n    \"id\": 1,\n    \"name\": \"Ready to Deploy\",\n    \"status_type\": \"deployable\",\n    \"status_meta\": \"deployed\"\n  },\n  \"category\": {\n    \"id\": 1,\n    \"name\": \"Laptops\"\n  },\n  \"manufacturer\": null,\n  \"supplier\": {\n    \"id\": 1,\n    \"name\": \"Murphy, Prohaska and Hudson\"\n  },\n  \"notes\": \"Created by DB seeder\",\n  \"order_number\": \"34391723\",\n  \"company\": null,\n  \"location\": {\n    \"id\": 4,\n    \"name\": \"Littlefurt\"\n  },\n  \"rtd_location\": {\n    \"id\": 9,\n    \"name\": \"Port Lauryn\"\n  },\n  \"image\": \"https://develop.snipeitapp.com/uploads/models/mbp.jpg\",\n  \"qr\": \"https://develop.snipeitapp.com/uploads/barcodes/qr-1057931124-1.png\",\n  \"alt_barcode\": null,\n  \"assigned_to\": {\n    \"id\": 4,\n    \"name\": \"Littlefurt\",\n    \"type\": \"location\"\n  },\n  \"warranty_months\": null,\n  \"warranty_expires\": null,\n  \"created_at\": {\n    \"datetime\": \"2022-12-19 15:42:06\",\n    \"formatted\": \"Mon Dec 19, 2022 3:42PM\"\n  },\n  \"updated_at\": {\n    \"datetime\": \"2022-12-19 15:42:44\",\n    \"formatted\": \"Mon Dec 19, 2022 3:42PM\"\n  },\n  \"last_audit_date\": null,\n  \"next_audit_date\": null,\n  \"deleted_at\": null,\n  \"purchase_date\": {\n    \"date\": \"2022-02-27\",\n    \"formatted\": \"Sun Feb 27, 2022\"\n  },\n  \"age\": \"9m 22d\",\n  \"last_checkout\": null,\n  \"expected_checkin\": null,\n  \"purchase_cost\": \"2.297,10\",\n  \"checkin_counter\": 0,\n  \"checkout_counter\": 0,\n  \"requests_counter\": 0,\n  \"user_can_checkout\": false,\n  \"custom_fields\": {\n    \"RAM\": {\n      \"field\": \"_snipeit_ram_3\",\n      \"value\": \"\",\n      \"field_format\": \"ANY\",\n      \"element\": \"text\"\n    },\n    \"CPU\": {\n      \"field\": \"_snipeit_cpu_4\",\n      \"value\": \"\",\n      \"field_format\": \"ANY\",\n      \"element\": \"text\"\n    },\n    \"MAC Address\": {\n      \"field\": \"_snipeit_mac_address_5\",\n      \"value\": \"\",\n      \"field_format\": \"regex:/^([0-9a-fA-F]{2}[:-]){5}[0-9a-fA-F]{2}$/\",\n      \"element\": \"text\"\n    }\n  },\n  \"available_actions\": {\n    \"checkout\": true,\n    \"checkin\": true,\n    \"clone\": true,\n    \"restore\": false,\n    \"update\": true,\n    \"delete\": false\n  }\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":""},"asset_tag":{"type":"string","example":"1057931124"},"serial":{"type":"string","example":"24da9270-5631-3d1c-84e4-8de6fd40d92d"},"model":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Macbook Pro 13&quot;"}}},"model_number":{"type":"string","example":"2670166157847744"},"eol":{"type":"object","properties":{"date":{"type":"string","example":"2025-02-27"},"formatted":{"type":"string","example":"Thu Feb 27, 2025"}}},"status_label":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Ready to Deploy"},"status_type":{"type":"string","example":"deployable"},"status_meta":{"type":"string","example":"deployed"}}},"category":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Laptops"}}},"manufacturer":{},"supplier":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Murphy, Prohaska and Hudson"}}},"notes":{"type":"string","example":"Created by DB seeder"},"order_number":{"type":"string","example":"34391723"},"company":{},"location":{"type":"object","properties":{"id":{"type":"integer","example":4,"default":0},"name":{"type":"string","example":"Littlefurt"}}},"rtd_location":{"type":"object","properties":{"id":{"type":"integer","example":9,"default":0},"name":{"type":"string","example":"Port Lauryn"}}},"image":{"type":"string","example":"https://develop.snipeitapp.com/uploads/models/mbp.jpg"},"qr":{"type":"string","example":"https://develop.snipeitapp.com/uploads/barcodes/qr-1057931124-1.png"},"alt_barcode":{},"assigned_to":{"type":"object","properties":{"id":{"type":"integer","example":4,"default":0},"name":{"type":"string","example":"Littlefurt"},"type":{"type":"string","example":"location"}}},"warranty_months":{},"warranty_expires":{},"created_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2022-12-19 15:42:06"},"formatted":{"type":"string","example":"Mon Dec 19, 2022 3:42PM"}}},"updated_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2022-12-19 15:42:44"},"formatted":{"type":"string","example":"Mon Dec 19, 2022 3:42PM"}}},"last_audit_date":{},"next_audit_date":{},"deleted_at":{},"purchase_date":{"type":"object","properties":{"date":{"type":"string","example":"2022-02-27"},"formatted":{"type":"string","example":"Sun Feb 27, 2022"}}},"age":{"type":"string","example":"9m 22d"},"last_checkout":{},"expected_checkin":{},"purchase_cost":{"type":"string","example":"2.297,10"},"checkin_counter":{"type":"integer","example":0,"default":0},"checkout_counter":{"type":"integer","example":0,"default":0},"requests_counter":{"type":"integer","example":0,"default":0},"user_can_checkout":{"type":"boolean","example":false,"default":true},"custom_fields":{"type":"object","properties":{"RAM":{"type":"object","properties":{"field":{"type":"string","example":"_snipeit_ram_3"},"value":{"type":"string","example":""},"field_format":{"type":"string","example":"ANY"},"element":{"type":"string","example":"text"}}},"CPU":{"type":"object","properties":{"field":{"type":"string","example":"_snipeit_cpu_4"},"value":{"type":"string","example":""},"field_format":{"type":"string","example":"ANY"},"element":{"type":"string","example":"text"}}},"MAC Address":{"type":"object","properties":{"field":{"type":"string","example":"_snipeit_mac_address_5"},"value":{"type":"string","example":""},"field_format":{"type":"string","example":"regex:/^([0-9a-fA-F]{2}[:-]){5}[0-9a-fA-F]{2}$/"},"element":{"type":"string","example":"text"}}}}},"available_actions":{"type":"object","properties":{"checkout":{"type":"boolean","example":true,"default":true},"checkin":{"type":"boolean","example":true,"default":true},"clone":{"type":"boolean","example":true,"default":true},"restore":{"type":"boolean","example":false,"default":true},"update":{"type":"boolean","example":true,"default":true},"delete":{"type":"boolean","example":false,"default":true}}}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Asset does not exist."}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}}},"deprecated":false,"security":[]},"delete":{"summary":"/hardware/:id","description":"Deletes a specific asset","operationId":"hardware-delete","parameters":[{"name":"id","in":"path","description":"The id of the asset to delete","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"error\": \"Unauthenticated.\"\n}"}},"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthenticated."}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Asset does not exist."}}}}}}},"deprecated":false,"security":[]},"put":{"summary":"/hardware/:id","description":"Updates a specific asset","operationId":"hardware-update","parameters":[{"name":"id","in":"path","description":"The id of the asset you'd like to query","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["asset_tag","status_id","model_id"],"properties":{"asset_tag":{"type":"string","description":"Unique asset tag of the asset"},"status_id":{"type":"integer","description":"The id of the corresponding status label","format":"int32"},"model_id":{"type":"integer","description":"The id of the associated asset model id","format":"int32"},"notes":{"type":"string","description":"Asset notes"},"last_checkout":{"type":"string","description":"Date the asset was last checked out","default":"null","format":"date"},"assigned_to":{"type":"integer","description":"The id of the user the asset is currently checked out to","default":null,"format":"int32"},"company_id":{"type":"integer","description":"The id of an associated company id","default":null,"format":"int32"},"serial":{"type":"string","description":"Serial number of the asset","default":"null"},"order_number":{"type":"string","description":"Order number for the asset"},"warranty_months":{"type":"integer","description":"Number of months for the asset warranty","default":null,"format":"int32"},"purchase_cost":{"type":"number","description":"Purchase cost of the asset, without a currency symbol","default":null,"format":"float"},"purchase_date":{"type":"string","description":"Date of asset purchase","default":"null","format":"date"},"requestable":{"type":"boolean","description":"Whether or not the asset can be requested by users with the permission to request assets","default":false},"archived":{"type":"boolean","description":"Whether or not the asset is archived. Archived assets cannot be checked out and do not show up in the deployable asset screens","default":false},"rtd_location_id":{"type":"integer","description":"The id that corresponds to the location where the asset is usually located when not checked out","default":null,"format":"int32"},"name":{"type":"string","description":"Asset name","default":"null"},"location_id":{"type":"integer","default":null,"format":"int32"},"image":{"type":"string","default":"null","format":"binary"},"byod":{"type":"integer","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"rows\": [\n\t\t{\n            \"id\": \"45\",\n            \"asset_tag\": \"976946724\",\n            \"assigned_to\": \"\",\n            \"category\": \"Reiciendis ea.\",\n            \"companyName\": \"Williamson-Kuhn\",\n            \"created_at\": \"\",\n            \"eol\": \"1991-10-19\",\n            \"expected_checkin\": \"\",\n            \"image\": \"\",\n            \"last_checkout\": \"\",\n            \"location\": \"Expanded system\",\n            \"manufacturer\": \"Farrell Group\",\n            \"model\": \"Profound zero\",\n            \"model_number\": null,\n            \"name\": \"Programmable concept\",\n            \"notes\": \"Ipsa pariatur sunt aut.\",\n            \"order_number\": \"\",\n            \"purchase_cost\": \"689.30\",\n            \"purchase_date\": \"1991-09-19\",\n            \"serial\": \"f5f06bb3-2420\",\n            \"status_label\": \"Ready to Deploy\"\n            }\n\t]\n}"},"Validation Error":{"value":"{\n  \"status\": \"error\",\n  \"messages\": {\n    \"status_id\": [\n      \"The selected status id is invalid.\"\n    ]\n  }\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"45"},"asset_tag":{"type":"string","example":"976946724"},"assigned_to":{"type":"string","example":""},"category":{"type":"string","example":"Reiciendis ea."},"companyName":{"type":"string","example":"Williamson-Kuhn"},"created_at":{"type":"string","example":""},"eol":{"type":"string","example":"1991-10-19"},"expected_checkin":{"type":"string","example":""},"image":{"type":"string","example":""},"last_checkout":{"type":"string","example":""},"location":{"type":"string","example":"Expanded system"},"manufacturer":{"type":"string","example":"Farrell Group"},"model":{"type":"string","example":"Profound zero"},"model_number":{},"name":{"type":"string","example":"Programmable concept"},"notes":{"type":"string","example":"Ipsa pariatur sunt aut."},"order_number":{"type":"string","example":""},"purchase_cost":{"type":"string","example":"689.30"},"purchase_date":{"type":"string","example":"1991-09-19"},"serial":{"type":"string","example":"f5f06bb3-2420"},"status_label":{"type":"string","example":"Ready to Deploy"}}}}}},{"title":"Validation Error","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"object","properties":{"status_id":{"type":"array","items":{"type":"string","example":"The selected status id is invalid."}}}}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Asset does not exist."}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}}},"deprecated":false,"security":[]},"patch":{"summary":"/hardware/:id","description":"Partially updates a specific asset","operationId":"hardware-partial-update","parameters":[{"name":"id","in":"path","description":"The id of the asset you'd like to query","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"asset_tag":{"type":"string","description":"Unique asset tag of the asset"},"notes":{"type":"string","description":"Asset notes","default":"null"},"status_id":{"type":"integer","description":"The id of the corresponding status label","format":"int32"},"model_id":{"type":"integer","description":"The id of the associated asset model id","format":"int32"},"last_checkout":{"type":"string","description":"Date the asset was last checked out","format":"date"},"assigned_to":{"type":"integer","description":"The id of the user the asset is currently checked out to","default":null,"format":"int32"},"company_id":{"type":"integer","description":"The id of an associated company id","default":null,"format":"int32"},"serial":{"type":"string","description":"Serial number of the asset","default":"null"},"order_number":{"type":"string","description":"Order number for the asset","default":"null"},"warranty_months":{"type":"integer","description":"Number of months for the asset warranty","default":null,"format":"int32"},"purchase_cost":{"type":"number","description":"Purchase cost of the asset, without a currency symbol","default":null,"format":"float"},"purchase_date":{"type":"string","description":"Date of asset purchase","default":"null","format":"date"},"requestable":{"type":"boolean","description":"Whether or not the asset can be requested by users with the permission to request assets","default":false},"archived":{"type":"boolean","description":"Whether or not the asset is archived. Archived assets cannot be checked out and do not show up in the deployable asset screens","default":false},"rtd_location_id":{"type":"integer","description":"The id that corresponds to the location where the asset is usually located when not checked out","default":null,"format":"int32"},"name":{"type":"string","description":"Asset name","default":"null"},"location_id":{"type":"string","default":"null"},"byod":{"type":"integer","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"rows\": [\n\t\t{\n            \"id\": \"45\",\n            \"asset_tag\": \"976946724\",\n            \"assigned_to\": \"\",\n            \"category\": \"Reiciendis ea.\",\n            \"companyName\": \"Williamson-Kuhn\",\n            \"created_at\": \"\",\n            \"eol\": \"1991-10-19\",\n            \"expected_checkin\": \"\",\n            \"image\": \"\",\n            \"last_checkout\": \"\",\n            \"location\": \"Expanded system\",\n            \"manufacturer\": \"Farrell Group\",\n            \"model\": \"Profound zero\",\n            \"model_number\": null,\n            \"name\": \"Programmable concept\",\n            \"notes\": \"Ipsa pariatur sunt aut.\",\n            \"order_number\": \"\",\n            \"purchase_cost\": \"689.30\",\n            \"purchase_date\": \"1991-09-19\",\n            \"serial\": \"f5f06bb3-2420\",\n            \"status_label\": \"Ready to Deploy\"\n            }\n\t],\n}"}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Asset does not exist."}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": {\n    \"status_id\": [\n      \"The selected status id is invalid.\"\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"object","properties":{"status_id":{"type":"array","items":{"type":"string","example":"The selected status id is invalid."}}}}}}}}}},"deprecated":false,"security":[]}},"/hardware":{"get":{"summary":"/hardware","description":"Return a listing of assets","operationId":"hardware-list","parameters":[{"name":"limit","in":"query","description":"Specify the number of results you wish to return. Defaults to 50, but we have it set to 2 by default so the API explorer doesn't scroll forever.","schema":{"type":"integer","format":"int32","default":2}},{"name":"offset","in":"query","description":"Offset to use","schema":{"type":"integer","format":"int32","default":0}},{"name":"search","in":"query","description":"A text string to search the assets data for","schema":{"type":"string"}},{"name":"order_number","in":"query","description":"Return only assets associated with a specific order number","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Specify the column name you wish to sort by","schema":{"type":"string","default":"created_at"}},{"name":"order","in":"query","description":"Specify the order (asc or desc) you wish to order by on your sort column","schema":{"type":"string","default":"desc"}},{"name":"model_id","in":"query","description":"Optionally restrict asset results to this asset model ID","schema":{"type":"integer","format":"int32"}},{"name":"category_id","in":"query","description":"Optionally restrict asset results to this status label ID","schema":{"type":"integer","format":"int32"}},{"name":"manufacturer_id","in":"query","description":"Optionally restrict asset results to this asset model ID","schema":{"type":"integer","format":"int32"}},{"name":"company_id","in":"query","description":"Optionally restrict asset results to this company ID","schema":{"type":"integer","format":"int32"}},{"name":"location_id","in":"query","description":"Optionally restrict asset results to this location ID","schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","description":"Optionally restrict asset results to one of these status types: RTD, Deployed, Undeployable, Deleted, Archived, Requestable","schema":{"type":"string"}},{"name":"status_id","in":"query","description":"Optionally restrict asset results to this status label ID","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"total\": 1323,\n  \"rows\": [\n    {\n      \"id\": 1373,\n      \"name\": \"\",\n      \"asset_tag\": \"86285367\",\n      \"serial\": \"555f88f9-1f66-3c9e-8069-c1c883cfdb5b\",\n      \"model\": {\n        \"id\": 18,\n        \"name\": \"Ultrasharp U2415\"\n      },\n      \"model_number\": \"2490747520276188\",\n      \"eol\": {\n        \"date\": \"2023-09-16\",\n        \"formatted\": \"Sat Sep 16, 2023\"\n      },\n      \"status_label\": {\n        \"id\": 1,\n        \"name\": \"Ready to Deploy\",\n        \"status_type\": \"deployable\",\n        \"status_meta\": \"deployable\"\n      },\n      \"category\": {\n        \"id\": 5,\n        \"name\": \"Displays\"\n      },\n      \"manufacturer\": {\n        \"id\": 3,\n        \"name\": \"Dell\"\n      },\n      \"supplier\": {\n        \"id\": 2,\n        \"name\": \"Konopelski, Maggio and Wiegand\"\n      },\n      \"notes\": \"Created by DB seeder\",\n      \"order_number\": \"26993588\",\n      \"company\": null,\n      \"location\": {\n        \"id\": 10,\n        \"name\": \"Jonesshire\"\n      },\n      \"rtd_location\": {\n        \"id\": 10,\n        \"name\": \"Jonesshire\"\n      },\n      \"image\": \"https://develop.snipeitapp.com/uploads/models/ultrasharp.jpg\",\n      \"qr\": \"https://develop.snipeitapp.com/uploads/barcodes/qr-86285367-1373.png\",\n      \"alt_barcode\": null,\n      \"assigned_to\": null,\n      \"warranty_months\": null,\n      \"warranty_expires\": null,\n      \"created_at\": {\n        \"datetime\": \"2022-12-19 15:42:29\",\n        \"formatted\": \"Mon Dec 19, 2022 3:42PM\"\n      },\n      \"updated_at\": {\n        \"datetime\": \"2022-12-19 15:42:44\",\n        \"formatted\": \"Mon Dec 19, 2022 3:42PM\"\n      },\n      \"last_audit_date\": null,\n      \"next_audit_date\": null,\n      \"deleted_at\": null,\n      \"purchase_date\": {\n        \"date\": \"2022-09-16\",\n        \"formatted\": \"Fri Sep 16, 2022\"\n      },\n      \"age\": \"3m 3d\",\n      \"last_checkout\": null,\n      \"expected_checkin\": null,\n      \"purchase_cost\": \"446,80\",\n      \"checkin_counter\": 0,\n      \"checkout_counter\": 0,\n      \"requests_counter\": 0,\n      \"user_can_checkout\": true,\n      \"custom_fields\": {},\n      \"available_actions\": {\n        \"checkout\": true,\n        \"checkin\": true,\n        \"clone\": true,\n        \"restore\": false,\n        \"update\": true,\n        \"delete\": true\n      }\n    },\n    {\n      \"id\": 1372,\n      \"name\": \"\",\n      \"asset_tag\": \"429167203\",\n      \"serial\": \"72ec94a8-b6dc-37f1-b2a9-0907806e8db7\",\n      \"model\": {\n        \"id\": 18,\n        \"name\": \"Ultrasharp U2415\"\n      },\n      \"model_number\": \"2490747520276188\",\n      \"eol\": {\n        \"date\": \"2023-10-31\",\n        \"formatted\": \"Tue Oct 31, 2023\"\n      },\n      \"status_label\": {\n        \"id\": 1,\n        \"name\": \"Ready to Deploy\",\n        \"status_type\": \"deployable\",\n        \"status_meta\": \"deployable\"\n      },\n      \"category\": {\n        \"id\": 5,\n        \"name\": \"Displays\"\n      },\n      \"manufacturer\": {\n        \"id\": 3,\n        \"name\": \"Dell\"\n      },\n      \"supplier\": {\n        \"id\": 1,\n        \"name\": \"Murphy, Prohaska and Hudson\"\n      },\n      \"notes\": \"Created by DB seeder\",\n      \"order_number\": \"12818712\",\n      \"company\": null,\n      \"location\": {\n        \"id\": 2,\n        \"name\": \"East Betty\"\n      },\n      \"rtd_location\": {\n        \"id\": 2,\n        \"name\": \"East Betty\"\n      },\n      \"image\": \"https://develop.snipeitapp.com/uploads/models/ultrasharp.jpg\",\n      \"qr\": \"https://develop.snipeitapp.com/uploads/barcodes/qr-429167203-1372.png\",\n      \"alt_barcode\": null,\n      \"assigned_to\": null,\n      \"warranty_months\": null,\n      \"warranty_expires\": null,\n      \"created_at\": {\n        \"datetime\": \"2022-12-19 15:42:29\",\n        \"formatted\": \"Mon Dec 19, 2022 3:42PM\"\n      },\n      \"updated_at\": {\n        \"datetime\": \"2022-12-19 15:42:44\",\n        \"formatted\": \"Mon Dec 19, 2022 3:42PM\"\n      },\n      \"last_audit_date\": null,\n      \"next_audit_date\": null,\n      \"deleted_at\": null,\n      \"purchase_date\": {\n        \"date\": \"2022-10-31\",\n        \"formatted\": \"Mon Oct 31, 2022\"\n      },\n      \"age\": \"1m 18d\",\n      \"last_checkout\": null,\n      \"expected_checkin\": null,\n      \"purchase_cost\": \"1.599,62\",\n      \"checkin_counter\": 0,\n      \"checkout_counter\": 0,\n      \"requests_counter\": 0,\n      \"user_can_checkout\": true,\n      \"custom_fields\": {},\n      \"available_actions\": {\n        \"checkout\": true,\n        \"checkin\": true,\n        \"clone\": true,\n        \"restore\": false,\n        \"update\": true,\n        \"delete\": true\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":1323,"default":0},"rows":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1373,"default":0},"name":{"type":"string","example":""},"asset_tag":{"type":"string","example":"86285367"},"serial":{"type":"string","example":"555f88f9-1f66-3c9e-8069-c1c883cfdb5b"},"model":{"type":"object","properties":{"id":{"type":"integer","example":18,"default":0},"name":{"type":"string","example":"Ultrasharp U2415"}}},"model_number":{"type":"string","example":"2490747520276188"},"eol":{"type":"object","properties":{"date":{"type":"string","example":"2023-09-16"},"formatted":{"type":"string","example":"Sat Sep 16, 2023"}}},"status_label":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Ready to Deploy"},"status_type":{"type":"string","example":"deployable"},"status_meta":{"type":"string","example":"deployable"}}},"category":{"type":"object","properties":{"id":{"type":"integer","example":5,"default":0},"name":{"type":"string","example":"Displays"}}},"manufacturer":{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Dell"}}},"supplier":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"name":{"type":"string","example":"Konopelski, Maggio and Wiegand"}}},"notes":{"type":"string","example":"Created by DB seeder"},"order_number":{"type":"string","example":"26993588"},"company":{},"location":{"type":"object","properties":{"id":{"type":"integer","example":10,"default":0},"name":{"type":"string","example":"Jonesshire"}}},"rtd_location":{"type":"object","properties":{"id":{"type":"integer","example":10,"default":0},"name":{"type":"string","example":"Jonesshire"}}},"image":{"type":"string","example":"https://develop.snipeitapp.com/uploads/models/ultrasharp.jpg"},"qr":{"type":"string","example":"https://develop.snipeitapp.com/uploads/barcodes/qr-86285367-1373.png"},"alt_barcode":{},"assigned_to":{},"warranty_months":{},"warranty_expires":{},"created_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2022-12-19 15:42:29"},"formatted":{"type":"string","example":"Mon Dec 19, 2022 3:42PM"}}},"updated_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2022-12-19 15:42:44"},"formatted":{"type":"string","example":"Mon Dec 19, 2022 3:42PM"}}},"last_audit_date":{},"next_audit_date":{},"deleted_at":{},"purchase_date":{"type":"object","properties":{"date":{"type":"string","example":"2022-09-16"},"formatted":{"type":"string","example":"Fri Sep 16, 2022"}}},"age":{"type":"string","example":"3m 3d"},"last_checkout":{},"expected_checkin":{},"purchase_cost":{"type":"string","example":"446,80"},"checkin_counter":{"type":"integer","example":0,"default":0},"checkout_counter":{"type":"integer","example":0,"default":0},"requests_counter":{"type":"integer","example":0,"default":0},"user_can_checkout":{"type":"boolean","example":true,"default":true},"custom_fields":{"type":"object","properties":{}},"available_actions":{"type":"object","properties":{"checkout":{"type":"boolean","example":true,"default":true},"checkin":{"type":"boolean","example":true,"default":true},"clone":{"type":"boolean","example":true,"default":true},"restore":{"type":"boolean","example":false,"default":true},"update":{"type":"boolean","example":true,"default":true},"delete":{"type":"boolean","example":true,"default":true}}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"error\",\n    \"messages\": \"An Error has occured! Unauthenticated.\",\n    \"payload\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"An Error has occured! Unauthenticated."},"payload":{}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"error\",\n    \"messages\": \"Method not allowed\",\n    \"payload\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"},"payload":{}}}}}}},"deprecated":false,"security":[]},"post":{"summary":"/hardware","description":"Creates a new asset","operationId":"hardware-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["asset_tag","status_id","model_id"],"properties":{"asset_tag":{"type":"string","description":"The asset tag of the asset. If auto-incrementing is enabled in the settings, this is not required and will be generated."},"status_id":{"type":"integer","description":"The id of the related status label","format":"int32"},"model_id":{"type":"integer","description":"The id of the related asset model","format":"int32"},"name":{"type":"string","description":"Asset name"},"image":{"type":"string","description":"data:@[mime];base64,[base64encodeddata]","format":"date"},"serial":{"type":"string"},"purchase_date":{"type":"string","format":"date"},"purchase_cost":{"type":"number","format":"float"},"order_number":{"type":"string"},"notes":{"type":"string"},"archived":{"type":"boolean","default":false},"warranty_months":{"type":"integer","default":null,"format":"int32"},"depreciate":{"type":"boolean","default":false},"supplier_id":{"type":"integer","default":null,"format":"int32"},"requestable":{"type":"boolean","default":false},"rtd_location_id":{"type":"integer","description":"The corresponding location_id from a location in the locations table that should indicate where the item is when it's NOT checked out to someone","default":null,"format":"int32"},"last_audit_date":{"type":"string","default":"null","format":"date"},"location_id":{"type":"integer","default":null,"format":"int32"},"byod":{"type":"boolean"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"messages\": \"Asset created successfully. :)\",\n  \"payload\": {\n    \"model_id\": 1,\n    \"name\": null,\n    \"serial\": null,\n    \"company_id\": \"\",\n    \"order_number\": null,\n    \"notes\": null,\n    \"asset_tag\": \"SNIPE-IT-RULES\",\n    \"user_id\": 2,\n    \"archived\": \"0\",\n    \"physical\": \"1\",\n    \"depreciate\": \"0\",\n    \"status_id\": 1,\n    \"warranty_months\": null,\n    \"purchase_cost\": null,\n    \"purchase_date\": null,\n    \"assigned_to\": null,\n    \"supplier_id\": null,\n    \"requestable\": 0,\n    \"rtd_location_id\": null,\n    \"updated_at\": \"2017-10-19 08:43:45\",\n    \"created_at\": \"2017-10-19 08:43:45\",\n    \"id\": 180,\n    \"model\": {\n      \"id\": 1,\n      \"name\": \"Macbook Pro 13\\\"\",\n      \"model_number\": \"4929525240061\",\n      \"manufacturer_id\": 1,\n      \"category_id\": 1,\n      \"created_at\": \"2017-10-18 21:00:07\",\n      \"updated_at\": \"2017-10-18 21:00:07\",\n      \"depreciation_id\": 1,\n      \"eol\": 36,\n      \"image\": null,\n      \"deprecated_mac_address\": 0,\n      \"fieldset_id\": null,\n      \"notes\": \"Created by demo seeder\",\n      \"requestable\": 0\n    }\n  }\n}"},"Validation Error":{"value":"{\n  \"status\": \"error\",\n  \"messages\": {\n    \"status_id\": [\n      \"The selected status id is invalid.\"\n    ]\n  }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"status":{"type":"string","example":"success"},"messages":{"type":"string","example":"Asset created successfully. :)"},"payload":{"type":"object","properties":{"model_id":{"type":"integer","example":1,"default":0},"name":{},"serial":{},"company_id":{"type":"string","example":""},"order_number":{},"notes":{},"asset_tag":{"type":"string","example":"SNIPE-IT-RULES"},"user_id":{"type":"integer","example":2,"default":0},"archived":{"type":"string","example":"0"},"physical":{"type":"string","example":"1"},"depreciate":{"type":"string","example":"0"},"status_id":{"type":"integer","example":1,"default":0},"warranty_months":{},"purchase_cost":{},"purchase_date":{},"assigned_to":{},"supplier_id":{},"requestable":{"type":"integer","example":0,"default":0},"rtd_location_id":{},"updated_at":{"type":"string","example":"2017-10-19 08:43:45"},"created_at":{"type":"string","example":"2017-10-19 08:43:45"},"id":{"type":"integer","example":180,"default":0},"model":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Macbook Pro 13\""},"model_number":{"type":"string","example":"4929525240061"},"manufacturer_id":{"type":"integer","example":1,"default":0},"category_id":{"type":"integer","example":1,"default":0},"created_at":{"type":"string","example":"2017-10-18 21:00:07"},"updated_at":{"type":"string","example":"2017-10-18 21:00:07"},"depreciation_id":{"type":"integer","example":1,"default":0},"eol":{"type":"integer","example":36,"default":0},"image":{},"deprecated_mac_address":{"type":"integer","example":0,"default":0},"fieldset_id":{},"notes":{"type":"string","example":"Created by demo seeder"},"requestable":{"type":"integer","example":0,"default":0}}}}}}},{"title":"Validation Error","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"object","properties":{"status_id":{"type":"array","items":{"type":"string","example":"The selected status id is invalid."}}}}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}}},"deprecated":false,"security":[]}},"/companies/{id}":{"get":{"summary":"/companies/:id","description":"Retrieve the specific details of a company by id","operationId":"companiesid","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 1,\n    \"name\": \"Lebsack and Sons\",\n    \"image\": null,\n    \"created_at\": {\n        \"datetime\": \"2017-11-22 05:28:00\",\n        \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n    },\n    \"updated_at\": {\n        \"datetime\": \"2017-11-22 05:28:00\",\n        \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n    },\n    \"assets_count\": 0,\n    \"licenses_count\": 0,\n    \"accessories_count\": 0,\n    \"consumables_count\": 0,\n    \"components_count\": 0,\n    \"users_count\": 0,\n    \"available_actions\": {\n        \"update\": true,\n        \"delete\": true\n    }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Lebsack and Sons"},"image":{},"created_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2017-11-22 05:28:00"},"formatted":{"type":"string","example":"Wed Nov 22, 2017 5:28AM"}}},"updated_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2017-11-22 05:28:00"},"formatted":{"type":"string","example":"Wed Nov 22, 2017 5:28AM"}}},"assets_count":{"type":"integer","example":0,"default":0},"licenses_count":{"type":"integer","example":0,"default":0},"accessories_count":{"type":"integer","example":0,"default":0},"consumables_count":{"type":"integer","example":0,"default":0},"components_count":{"type":"integer","example":0,"default":0},"users_count":{"type":"integer","example":0,"default":0},"available_actions":{"type":"object","properties":{"update":{"type":"boolean","example":true,"default":true},"delete":{"type":"boolean","example":true,"default":true}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"error\",\n    \"messages\": \"An Error has occured! Unauthenticated.\",\n    \"payload\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"An Error has occured! Unauthenticated."},"payload":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"error\",\n    \"messages\": \"Method not allowed\",\n    \"payload\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"},"payload":{}}}}}}},"deprecated":false},"put":{"summary":"/companies/:id","description":"Updates a company's details","operationId":"companiesid-1","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false},"patch":{"summary":"/companies/:id","description":"Updates a part of a company's details","operationId":"companiesid-2","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"php","code":"<?php\n\t\n$access_token = 'YOUR-API-TOKEN';\n\n// Set your new values\n$fields = array(\n  \"name\" => \"Hogwarts\", \n);          \n    \n\n$headers = array(\n\t'Content-Type: application/json',\n\t'Authorization: Bearer '.$access_token,\n);\n\n$ch = curl_init('https://your-server/api/v1/companies/1');\n\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);\ncurl_setopt($ch, CURLOPT_USERAGENT, 'YourScript/0.1 (contact@email)');\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($curl, CURLOPT_CUSTOMREQUEST, 'PATCH');\ncurl_setopt($curl, CURLOPT_POSTFIELDS, json_encode($fields));\n\n$data = curl_exec($ch);\ncurl_close($ch);\n\nprint_r($data);"}],"samples-languages":["php"]}},"delete":{"summary":"/companies/:id","description":"Delete's a company","operationId":"companiesid-3","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"messages\": \"The Company was deleted successfully.\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"status":{"type":"string","example":"success"},"messages":{"type":"string","example":"The Company was deleted successfully."}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false}},"/companies":{"post":{"summary":"/companies","description":"Create a new company","operationId":"companies-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","default":"Google, inc."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"payload\": {\n    \"name\": \"Vloorb\",\n    \"updated_at\": \"2017-01-12 19:56:33\",\n    \"created_at\": \"2017-01-12 19:56:33\",\n    \"id\": 14\n  },\n  \"messages\": \"Company created successfully.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"payload":{"type":"object","properties":{"name":{"type":"string","example":"Vloorb"},"updated_at":{"type":"string","example":"2017-01-12 19:56:33"},"created_at":{"type":"string","example":"2017-01-12 19:56:33"},"id":{"type":"integer","example":14,"default":0}}},"messages":{"type":"string","example":"Company created successfully."}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false},"get":{"summary":"/companies","description":"Return a listing of companies","operationId":"companies","parameters":[{"name":"name","in":"query","description":"Company name","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"total\": 4,\n    \"rows\": [\n        {\n            \"id\": 1,\n            \"name\": \"Lebsack and Sons\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 13,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Fay Group\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 11,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 3,\n            \"name\": \"Roberts Inc\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 19,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 4,\n            \"name\": \"Auer-Heaney\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 15,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":4,"default":0},"rows":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Lebsack and Sons"},"image":{},"created_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2017-11-22 05:28:00"},"formatted":{"type":"string","example":"Wed Nov 22, 2017 5:28AM"}}},"updated_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2017-11-22 05:28:00"},"formatted":{"type":"string","example":"Wed Nov 22, 2017 5:28AM"}}},"assets_count":{"type":"integer","example":0,"default":0},"licenses_count":{"type":"integer","example":0,"default":0},"accessories_count":{"type":"integer","example":0,"default":0},"consumables_count":{"type":"integer","example":0,"default":0},"components_count":{"type":"integer","example":0,"default":0},"users_count":{"type":"integer","example":13,"default":0},"available_actions":{"type":"object","properties":{"update":{"type":"boolean","example":true,"default":true},"delete":{"type":"boolean","example":true,"default":true}}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"error\",\n    \"messages\": \"An Error has occured! Unauthenticated.\",\n    \"payload\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"An Error has occured! Unauthenticated."},"payload":{}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"error\",\n    \"messages\": \"Method not allowed\",\n    \"payload\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"},"payload":{}}}}}}},"deprecated":false}},"/locations":{"get":{"summary":"/locations","description":"List locations","operationId":"locations","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of results to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset to use when retrieving results (useful in pagination)","schema":{"type":"integer","format":"int32","default":0}},{"name":"search","in":"query","description":"Search string","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Field to order by","schema":{"type":"string","default":"created_at"}},{"name":"order","in":"query","description":"Sort order (asc or desc)","schema":{"type":"string"}},{"name":"address","in":"query","schema":{"type":"string"}},{"name":"address2","in":"query","schema":{"type":"string"}},{"name":"city","in":"query","schema":{"type":"string"}},{"name":"zip","in":"query","schema":{"type":"string"}},{"name":"country","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"/locations","description":"Create a new location","operationId":"locations-2","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"address":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"zip":{"type":"string"},"ldap_ou":{"type":"string"},"parent_id":{"type":"integer","format":"int32"},"currency":{"type":"string"},"manager_id":{"type":"integer","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accessories":{"get":{"summary":"/accessories","description":"Return a listing of accessories","operationId":"accessories","parameters":[{"name":"limit","in":"query","description":"Specify the number of results you wish to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset to use","schema":{"type":"integer","format":"int32","default":0}},{"name":"search","in":"query","description":"A text string to search the assets data for","schema":{"type":"string"}},{"name":"order_number","in":"query","description":"Return only assets associated with a specific order number","schema":{"type":"string","default":"null"}},{"name":"sort","in":"query","description":"Specify the column name you wish to sort by","schema":{"type":"string","default":"created_at"}},{"name":"order","in":"query","description":"Specify the order (asc or desc) you wish to order by on your sort column","schema":{"type":"string","default":"desc"}},{"name":"expand","in":"query","description":"Whether to include detailed information on categories, etc (true) or just the text name (false)","schema":{"type":"string","default":"false"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"total\": 4,\n    \"rows\": [\n        {\n            \"id\": 1,\n            \"name\": \"USB Keyboard\",\n            \"company\": null,\n            \"manufacturer\": {\n                \"id\": 1,\n                \"name\": \"Apple\"\n            },\n            \"supplier\": {\n                \"id\": 1,\n                \"name\": \"Beier, Von and Schoen\"\n            },\n            \"model_number\": \"2033154\",\n            \"category\": {\n                \"id\": 8,\n                \"name\": \"Keyboards\"\n            },\n            \"location\": {\n                \"id\": 5,\n                \"name\": \"South Fred\"\n            },\n            \"notes\": null,\n            \"qty\": 15,\n            \"purchase_date\": null,\n            \"purchase_cost\": null,\n            \"order_number\": null,\n            \"min_qty\": 2,\n            \"remaining_qty\": 15,\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"available_actions\": {\n                \"checkout\": true,\n                \"checkin\": false,\n                \"update\": true,\n                \"delete\": true\n            },\n            \"user_can_checkout\": true\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Bluetooth Keyboard\",\n            \"company\": null,\n            \"manufacturer\": {\n                \"id\": 1,\n                \"name\": \"Apple\"\n            },\n            \"supplier\": {\n                \"id\": 5,\n                \"name\": \"Howell-Windler\"\n            },\n            \"model_number\": \"14966166\",\n            \"category\": {\n                \"id\": 8,\n                \"name\": \"Keyboards\"\n            },\n            \"location\": {\n                \"id\": 5,\n                \"name\": \"South Fred\"\n            },\n            \"notes\": null,\n            \"qty\": 10,\n            \"purchase_date\": null,\n            \"purchase_cost\": null,\n            \"order_number\": null,\n            \"min_qty\": 2,\n            \"remaining_qty\": 10,\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"available_actions\": {\n                \"checkout\": true,\n                \"checkin\": false,\n                \"update\": true,\n                \"delete\": true\n            },\n            \"user_can_checkout\": true\n        },\n        {\n            \"id\": 3,\n            \"name\": \"Magic Mouse\",\n            \"company\": null,\n            \"manufacturer\": {\n                \"id\": 1,\n                \"name\": \"Apple\"\n            },\n            \"supplier\": {\n                \"id\": 1,\n                \"name\": \"Beier, Von and Schoen\"\n            },\n            \"model_number\": \"41452806\",\n            \"category\": {\n                \"id\": 9,\n                \"name\": \"Mouse\"\n            },\n            \"location\": {\n                \"id\": 5,\n                \"name\": \"South Fred\"\n            },\n            \"notes\": null,\n            \"qty\": 13,\n            \"purchase_date\": null,\n            \"purchase_cost\": null,\n            \"order_number\": null,\n            \"min_qty\": 2,\n            \"remaining_qty\": 13,\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"available_actions\": {\n                \"checkout\": true,\n                \"checkin\": false,\n                \"update\": true,\n                \"delete\": true\n            },\n            \"user_can_checkout\": true\n        },\n        {\n            \"id\": 4,\n            \"name\": \"Sculpt Comfort Mouse\",\n            \"company\": null,\n            \"manufacturer\": {\n                \"id\": 2,\n                \"name\": \"Microsoft\"\n            },\n            \"supplier\": null,\n            \"model_number\": \"13797878\",\n            \"category\": {\n                \"id\": 9,\n                \"name\": \"Mouse\"\n            },\n            \"location\": {\n                \"id\": 5,\n                \"name\": \"South Fred\"\n            },\n            \"notes\": null,\n            \"qty\": 13,\n            \"purchase_date\": null,\n            \"purchase_cost\": null,\n            \"order_number\": null,\n            \"min_qty\": 2,\n            \"remaining_qty\": 13,\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2018-10-09 19:07:31\",\n                \"formatted\": \"2018-10-09 07:07 PM\"\n            },\n            \"available_actions\": {\n                \"checkout\": true,\n                \"checkin\": false,\n                \"update\": true,\n                \"delete\": true\n            },\n            \"user_can_checkout\": true\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":4,"default":0},"rows":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"USB Keyboard"},"company":{},"manufacturer":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Apple"}}},"supplier":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Beier, Von and Schoen"}}},"model_number":{"type":"string","example":"2033154"},"category":{"type":"object","properties":{"id":{"type":"integer","example":8,"default":0},"name":{"type":"string","example":"Keyboards"}}},"location":{"type":"object","properties":{"id":{"type":"integer","example":5,"default":0},"name":{"type":"string","example":"South Fred"}}},"notes":{},"qty":{"type":"integer","example":15,"default":0},"purchase_date":{},"purchase_cost":{},"order_number":{},"min_qty":{"type":"integer","example":2,"default":0},"remaining_qty":{"type":"integer","example":15,"default":0},"image":{},"created_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2018-10-09 19:07:31"},"formatted":{"type":"string","example":"2018-10-09 07:07 PM"}}},"updated_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2018-10-09 19:07:31"},"formatted":{"type":"string","example":"2018-10-09 07:07 PM"}}},"available_actions":{"type":"object","properties":{"checkout":{"type":"boolean","example":true,"default":true},"checkin":{"type":"boolean","example":false,"default":true},"update":{"type":"boolean","example":true,"default":true},"delete":{"type":"boolean","example":true,"default":true}}},"user_can_checkout":{"type":"boolean","example":true,"default":true}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}}},"deprecated":false,"security":[]},"post":{"summary":"/accessories","description":"Create a new accessory","operationId":"accessories-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","qty","category_id"],"properties":{"name":{"type":"string"},"qty":{"type":"integer","description":"Quantity of the accessory you have","format":"int32"},"order_number":{"type":"string","description":"Order number for this accessory."},"purchase_cost":{"type":"number","description":"Cost of item being purchased.","format":"float"},"purchase_date":{"type":"string","description":"Date accessory was purchased"},"model_number":{"type":"string","description":"Model number of Accessory"},"category_id":{"type":"integer","description":"ID number of the category the accessory belongs to","format":"int32"},"company_id":{"type":"integer","description":"ID Number of the company the accessory is assigned to","format":"int32"},"location_id":{"type":"integer","description":"ID number of the location the accessory is assigned to","format":"int32"},"manufacturer_id":{"type":"integer","description":"ID number of the manufacturer for this accessory.","format":"int32"},"supplier_id":{"type":"integer","description":"ID number of the supplier for this accessory","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/users":{"get":{"summary":"/users","description":"List users","operationId":"users","parameters":[{"name":"search","in":"query","description":"String to search on","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of records to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset to use when retrieving results (useful in pagination)","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort","in":"query","description":"Field to order by","schema":{"type":"string","default":"created_at"}},{"name":"order","in":"query","description":"Sort order (asc or desc)","schema":{"type":"string","default":"desc"}},{"name":"first_name","in":"query","schema":{"type":"string"}},{"name":"last_name","in":"query","schema":{"type":"string"}},{"name":"username","in":"query","schema":{"type":"string"}},{"name":"email","in":"query","schema":{"type":"string"}},{"name":"employee_num","in":"query","schema":{"type":"string"}},{"name":"state","in":"query","schema":{"type":"string"}},{"name":"zip","in":"query","schema":{"type":"string"}},{"name":"country","in":"query","schema":{"type":"string"}},{"name":"group_id","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"department_id","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"company_id","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"location_id","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"deleted","in":"query","description":"Set this to \"true\" if you want to return only deleted users","schema":{"type":"boolean","default":false}},{"name":"all","in":"query","description":"Set this to \"true\" if you want both deleted and active users","schema":{"type":"boolean","default":false}},{"name":"ldap_import","in":"query","description":"Whether the user was imported/synched with LDAP - should be 0 or 1","schema":{"type":"boolean"}},{"name":"assets_count","in":"query","description":"Number of checked out assets","schema":{"type":"integer","format":"int32"}},{"name":"licenses_count","in":"query","description":"Number of checked out licenses","schema":{"type":"integer","format":"int32"}},{"name":"accessories_count","in":"query","description":"Number of checked out accessories","schema":{"type":"integer","format":"int32"}},{"name":"consumables_count","in":"query","description":"Number of checked out consumables","schema":{"type":"integer","format":"int32"}},{"name":"remote","in":"query","description":"Whether the user is marked as a remote worker or not (should be 0 or 1)","schema":{"type":"boolean"}},{"name":"vip","in":"query","description":"Whether or not the user is marked as a VIP (1 or 0 for true or false, respectively)","schema":{"type":"integer","format":"int32"}},{"name":"start_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"/users","description":"Create a new user","operationId":"users-2","parameters":[{"name":"Accept","in":"header","schema":{"type":"string","default":"application/json"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["first_name","username","password","password_confirmation"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"},"password_confirmation":{"type":"string","description":"Needs to match the 'password' exactly"},"email":{"type":"string"},"permissions":{"type":"string"},"activated":{"type":"boolean"},"phone":{"type":"string"},"jobtitle":{"type":"string"},"manager_id":{"type":"integer","format":"int32"},"employee_num":{"type":"string"},"notes":{"type":"string"},"company_id":{"type":"integer","format":"int32"},"two_factor_enrolled":{"type":"boolean"},"two_factor_optin":{"type":"boolean"},"department_id":{"type":"integer","format":"int32"},"location_id":{"type":"integer","format":"int32"},"remote":{"type":"boolean","description":"Whether or not the user is a remote worker"},"groups":{"type":"integer","description":"ID of the group or groups the user should be associated with. This can be a single ID number, or an array, like [1,2,3]","default":null,"format":"int32"},"vip":{"type":"boolean","default":false},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/statuslabels":{"get":{"summary":"/statuslabels","description":"Retrieve a list of status labels","operationId":"statuslabels","parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of records to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset to use when retrieving results (useful in pagination)","schema":{"type":"integer","format":"int32","default":0}},{"name":"search","in":"query","description":"String to search on","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Field to order by","schema":{"type":"string","default":"created_at"}},{"name":"order","in":"query","description":"Sort order (asc or desc)","schema":{"type":"string","default":"asc"}},{"name":"status_type","in":"query","schema":{"type":"string","enum":["deployable","undeployable","pending","archived"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"total\": 5,\n    \"rows\": [\n        {\n            \"id\": 8,\n            \"name\": \"API TEST\",\n            \"type\": \"deployable\",\n            \"color\": null,\n            \"show_in_nav\": false,\n            \"assets_count\": 0,\n            \"notes\": \"\",\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 10:37:07\",\n                \"formatted\": \"Wed Nov 22, 2017 10:37AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 10:37:07\",\n                \"formatted\": \"Wed Nov 22, 2017 10:37AM\"\n            },\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 1,\n            \"name\": \"Ready to Deploy\",\n            \"type\": \"deployable\",\n            \"color\": null,\n            \"show_in_nav\": false,\n            \"assets_count\": 1275,\n            \"notes\": \"Illum voluptatem laboriosam sit consequatur fugiat.\",\n            \"created_at\": {\n                \"datetime\": \"2015-04-20 15:11:22\",\n                \"formatted\": \"Mon Apr 20, 2015 3:11PM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2004-02-18 13:58:18\",\n                \"formatted\": \"Wed Feb 18, 2004 1:58PM\"\n            },\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": false\n            }\n        },\n        {\n            \"id\": 7,\n            \"name\": \"Lost/Stolen\",\n            \"type\": \"undeployable\",\n            \"color\": null,\n            \"show_in_nav\": false,\n            \"assets_count\": 0,\n            \"notes\": \"\",\n            \"created_at\": {\n                \"datetime\": \"2011-05-24 04:45:07\",\n                \"formatted\": \"Tue May 24, 2011 4:45AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2002-03-26 02:59:19\",\n                \"formatted\": \"Tue Mar 26, 2002 2:59AM\"\n            },\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 5,\n            \"name\": \"Out for Repair\",\n            \"type\": \"undeployable\",\n            \"color\": null,\n            \"show_in_nav\": false,\n            \"assets_count\": 0,\n            \"notes\": \"\",\n            \"created_at\": {\n                \"datetime\": \"2004-09-07 07:22:51\",\n                \"formatted\": \"Tue Sep 07, 2004 7:22AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"1983-04-03 20:52:31\",\n                \"formatted\": \"Sun Apr 03, 1983 8:52PM\"\n            },\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 3,\n            \"name\": \"Archived\",\n            \"type\": \"archived\",\n            \"color\": null,\n            \"show_in_nav\": false,\n            \"assets_count\": 50,\n            \"notes\": \"These assets are permanently undeployable\",\n            \"created_at\": {\n                \"datetime\": \"1998-10-27 22:39:02\",\n                \"formatted\": \"Tue Oct 27, 1998 10:39PM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"1988-06-02 20:15:44\",\n                \"formatted\": \"Thu Jun 02, 1988 8:15PM\"\n            },\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": false\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"total":{"type":"integer","example":5,"default":0},"rows":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":8,"default":0},"name":{"type":"string","example":"API TEST"},"type":{"type":"string","example":"deployable"},"color":{},"show_in_nav":{"type":"boolean","example":false,"default":true},"assets_count":{"type":"integer","example":0,"default":0},"notes":{"type":"string","example":""},"created_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2017-11-22 10:37:07"},"formatted":{"type":"string","example":"Wed Nov 22, 2017 10:37AM"}}},"updated_at":{"type":"object","properties":{"datetime":{"type":"string","example":"2017-11-22 10:37:07"},"formatted":{"type":"string","example":"Wed Nov 22, 2017 10:37AM"}}},"available_actions":{"type":"object","properties":{"update":{"type":"boolean","example":true,"default":true},"delete":{"type":"boolean","example":true,"default":true}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"/statuslabels","description":"Create a new status label","operationId":"statuslabels-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","type"],"properties":{"name":{"type":"string"},"type":{"type":"string","default":"deployable","enum":["deployable","pending","archived","undeployable"]},"notes":{"type":"string"},"color":{"type":"string","description":"Hex code showing what color the status label should be on the pie chart in the dashboard"},"show_in_nav":{"type":"boolean","description":"1 or 0 - determine whether the status label should show in the left-side nav of the web GUI","default":false},"default_label":{"type":"boolean","description":"1 or 0 - determine whether it should be bubbled up to the top of the list of available statuses","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"messages\": \"Status Label created successfully.\",\n    \"payload\": {\n        \"name\": \"Test Status Label\",\n        \"deployable\": 1,\n        \"pending\": 0,\n        \"archived\": 0,\n        \"updated_at\": \"2017-11-22 10:37:07\",\n        \"created_at\": \"2017-11-22 10:37:07\",\n        \"id\": 8\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"messages":{"type":"string","example":"Status Label created successfully."},"payload":{"type":"object","properties":{"name":{"type":"string","example":"Test Status Label"},"deployable":{"type":"integer","example":1,"default":0},"pending":{"type":"integer","example":0,"default":0},"archived":{"type":"integer","example":0,"default":0},"updated_at":{"type":"string","example":"2017-11-22 10:37:07"},"created_at":{"type":"string","example":"2017-11-22 10:37:07"},"id":{"type":"integer","example":8,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/models/{id}":{"get":{"summary":"/models/:id","description":"Retrieve the specific details of a model by id","operationId":"modelsid","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false},"patch":{"summary":"/models/:id","description":"Update a model","operationId":"modelsid-2","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"model_number":{"type":"string"},"fieldset_id":{"type":"integer","format":"int32"},"manufacturer_id":{"type":"integer","format":"int32"},"category_id":{"type":"integer","format":"int32"},"depreciation_id":{"type":"integer","format":"int32"},"notes":{"type":"string"},"requestable":{"type":"boolean"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false},"delete":{"summary":"/models/:id","description":"Delete a model","operationId":"modelsid-3","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false},"put":{"summary":"/models/:id","description":"Update a model","operationId":"modelsid-1","parameters":[{"name":"id","in":"path","description":"company id","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","category_id","manufacturer_id"],"properties":{"name":{"type":"string","description":"Model name"},"model_number":{"type":"string","description":"Part or model number of the model"},"category_id":{"type":"integer","format":"int32"},"manufacturer_id":{"type":"integer","format":"int32"},"fieldset_id":{"type":"integer","description":"The ID of an EXISTING custom fieldset","format":"int32"},"eol":{"type":"integer","description":"Number of months until this model's assets are considered EOL","format":"int32"},"depreciation_id":{"type":"integer","format":"int32"},"notes":{"type":"string"},"requestable":{"type":"boolean"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false}},"/models":{"get":{"summary":"/models","description":"Returns a list of models","operationId":"models","parameters":[{"name":"limit","in":"query","description":"Number of records to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset to use when retrieving results (useful in pagination)","schema":{"type":"integer","format":"int32","default":0}},{"name":"search","in":"query","description":"Search string","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Field to order by","schema":{"type":"string","default":"created_at"}},{"name":"order","in":"query","description":"Sort order (asc or desc)","schema":{"type":"string","default":"asc"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"/models","description":"Create a model","operationId":"models-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","category_id","manufacturer_id"],"properties":{"name":{"type":"string","description":"Model name"},"model_number":{"type":"string","description":"Part or model number of the model"},"category_id":{"type":"integer","format":"int32"},"manufacturer_id":{"type":"integer","format":"int32"},"eol":{"type":"integer","description":"Number of months until this model's assets are considered EOL","format":"int32"},"fieldset_id":{"type":"integer","description":"The ID of an EXISTING custom fieldset","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false}},"/locations/{id}":{"get":{"summary":"/locations/:id","description":"Get location details by id","operationId":"locations-1","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"/locations/:id","description":"Deletes a location","operationId":"locationsid-2","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"messages\": \"The location was deleted successfully.\",\n  \"payload\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"messages":{"type":"string","example":"The location was deleted successfully."},"payload":{}}}}}}},"deprecated":false},"put":{"summary":"/locations/:id","description":"Updates a location","operationId":"locations-3","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"address":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"zip":{"type":"string"},"ldap_ou":{"type":"string"},"currency":{"type":"string"},"manager_id":{"type":"integer","format":"int32"},"parent_id":{"type":"integer","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"/locations/:id","description":"Partially updates a location","operationId":"locationsid","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"zip":{"type":"string"},"currency":{"type":"string"},"ldap_ou":{"type":"string"},"manager_id":{"type":"integer","format":"int32"},"parent_id":{"type":"integer","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/users/{id}":{"get":{"summary":"/users/:id","description":"View user details","operationId":"usersid","parameters":[{"name":"id","in":"path","description":"User id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"/users/:id","description":"Partially update a user, passing only the fields you want to modify","operationId":"users-3","parameters":[{"name":"id","in":"path","description":"User ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"},"email":{"type":"string"},"permissions":{"type":"string"},"activated":{"type":"boolean"},"phone":{"type":"string"},"jobtitle":{"type":"string"},"manager_id":{"type":"integer","format":"int32"},"employee_num":{"type":"string"},"notes":{"type":"string"},"company_id":{"type":"integer","format":"int32"},"two_factor_enrolled":{"type":"boolean"},"two_factor_optin":{"type":"boolean"},"department_id":{"type":"integer","format":"int32"},"location_id":{"type":"integer","format":"int32"},"remote":{"type":"boolean","default":false},"groups":{"type":"integer","description":"ID of the group or groups the user should be associated with. This can be a single ID number, or an array, like [1,2,3]","format":"int32"},"vip":{"type":"integer","default":0,"format":"int32"},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"/users/:id","description":"Delete a user","operationId":"usersid-1","parameters":[{"name":"id","in":"path","description":"User id","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"/users/:id","description":"Update a user","operationId":"usersid-2","parameters":[{"name":"id","in":"path","description":"User ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"},"email":{"type":"string"},"permissions":{"type":"string"},"activated":{"type":"boolean"},"phone":{"type":"string"},"jobtitle":{"type":"string"},"manager_id":{"type":"integer","format":"int32"},"employee_num":{"type":"string"},"notes":{"type":"string"},"company_id":{"type":"integer","format":"int32"},"two_factor_enrolled":{"type":"boolean"},"two_factor_optin":{"type":"boolean"},"department_id":{"type":"integer","format":"int32"},"location_id":{"type":"integer","format":"int32"},"remote":{"type":"boolean","description":"Whether or not the user is a remote worker (0 or 1)"},"groups":{"type":"integer","description":"ID of the group or groups the user should be associated with. This can be a single ID number, or an array, like [1,2,3]","format":"int32"},"vip":{"type":"integer","default":0,"format":"int32"},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/categories":{"get":{"summary":"/categories","description":"List categories","operationId":"categories-1","parameters":[{"name":"name","in":"query","description":"Category name","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of results to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset number (useful in pagination)","schema":{"type":"integer","format":"int32","default":0}},{"name":"search","in":"query","description":"Search string","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string","default":"created_at"}},{"name":"order","in":"query","description":"Sort order (asc or desc)","schema":{"type":"string","default":"desc"}},{"name":"category_id","in":"query","description":"ID number of the category you'd like to filter by","schema":{"type":"integer","format":"int32"}},{"name":"category_type","in":"query","description":"Type of category","schema":{"type":"string","enum":["asset","accessory","consumable","component","license"]}},{"name":"use_default_eula","in":"query","schema":{"type":"boolean"}},{"name":"require_acceptance","in":"query","schema":{"type":"boolean"}},{"name":"checkin_email","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"/categories","description":"Create a Category","operationId":"categories-2","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","category_type"],"properties":{"name":{"type":"string","description":"Model name"},"category_type":{"type":"string","description":"(asset, accessory, consumable, component) - as of post-v5.2, this is no longer case sensitive"},"use_default_eula":{"type":"boolean","default":false},"require_acceptance":{"type":"boolean","default":false},"checkin_email":{"type":"boolean","description":"Should the user be emailed the EULA and/or an acceptance confirmation email when this item is checked in?","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"},"Not Found":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Rohan-Bergstrom"},"created_at":{"type":"string","example":"2017-01-11 03:31:25"},"updated_at":{"type":"string","example":"2017-01-11 03:31:25"}}},{"title":"Not Found","type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Company not found"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Unauthorized."}}}}}},"405":{"description":"405","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"messages":{"type":"string","example":"Method not allowed"}}}}}}},"deprecated":false}},"/statuslabels/{id}":{"delete":{"summary":"/statuslabels/:id","description":"Delete a status label","operationId":"statuslabelsid-1","parameters":[{"name":"id","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200
[...]
